---
title: "Actualités"
title_seo: "Don_padre • Blog • Mon actualité"
description: "Retrouvez ici tout mon actualité, je parle de High-tech, linux, Pop-culture, etc ..."
hero_image: diary.jpg
pageable : true
per_page: 10
---
main role="main"

  = partial "partials/header"

  .section
    .wrapper
      = partial "partials/articles-list"
