---
title: "L'actualité"
title_seo: "Don_padre | Blog • Mon actualité"
description: "Retrouvez ici tout mon actualité"
hero_image: blog.jpg
---
div role="main"

  = partial "partials/header"

  = partial "partials/articles-list"

  /= partial "partials/call-to-action"
