---
hero_image: blog.jpg
pageable : true
per_page: 10
---
div role="main"

  = partial "partials/header", locals: {title: category}

  = partial "partials/articles-list"

  /= partial "partials/call-to-action"
