---
title:  Accueil
title_seo: Don_padre | Accueil • Blogeur & dévellopeur front-end d'origine Guadeloupéen devenu Malouin par adoption.
description: Don_padre | Blogeur & dévellopeur front-end d'origine Guadeloupéen devenu Malouin par adoption. Amateur de culture High-tech et de culture japonais. Passionné par le web, linux, les mangas, etc ...
hero_image: mockup.jpg
slogan: Geek for life
slogan_sup: Geek pour la vie
---
div role="main"

  = partial "partials/header"

  .section.section--intro
    .wrapper
      .section
        h2.section__title.ornement It's called 'taking advantage.' It's what gets you ahead in life.

        




        /= partial "partials/gallerie", locals: {gallery: data.galleries.homepage}
